.download_app_section {
  display: flex;
  background-image: url("../../../Images/contactBaground.svg");
  background-repeat: no-repeat;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.download_app_mobiles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.mobiles_img {
  width: 400px;
}
.download_app_infoDiv {
  padding: 80px;
}
.download_app_infoDiv h1,
.download_app_infoDiv h3 {
  margin-bottom: 10px;
}
.download_for_section {
  margin: 20px 10px;
  padding: 10px;
  width: fit-content;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #f0f0f0;
  border-radius: 30px;
}
.download_for_android,
.download_for_ios {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  color: white;
  background: #000;
  border-radius: 20px;
}
.download_mobile_number {
  display: flex;
  padding: 20px;
  gap: 10px;
  align-items: center;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  font-size: 20px;
}
.download_input_mobile {
  border: 0;
  outline: none;
  font-size: 20px;
  background:none;
  padding: 0px 10px;
  border-left: 1px solid lightgray;
}

.download_submit_btn {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  color: white;
  background: #ade4d7;
  border: 0;
  font-weight: bold;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.download_available_on {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  flex-wrap: wrap;
}


/* ---------------------media quiries -----------*/
@media (max-width: 768px) {
 
}
@media (max-width: 499px) {
 .download_app_section{
  flex-direction:column;  
 }
 .download_app_mobiles {
  width:200px;
 }
 .mobiles_img{
  width:100%;
 }
 .download_app_infoDiv {
  padding: 20px;
}
.download_submit_button,.download_input_mobile{
  width:350px;
}
.download_app_infoDiv{
  max-width:100%
}

}
