.app_container {
  width: 95%;
  margin: auto;
  margin-top: 20px;
}
.home_section {
  width: 100%;
}
.linkTag {
  text-decoration: none;
  color: inherit;
}
.app_container_margin{
  margin-top:100px;
}