.home_banner {
  display: flex;
  width: 100%;
  gap: 20px;
}
.home_baner_mainSlider .slick-next:before,
.home_baner_mainSlider .slick-prev:before {
  display: none;
}
.home_baner_mainSlider .slick-dots li button:before {
  font-size: 10px;
  color: green;
}
.home_baner_mainSlider .slick-dots li.slick-active button:before {
  color: rgb(0, 61, 9);
}
.home_baner_mainSlider .slick-slide img {
  margin: auto;
  width: 100%;
}
.home_banner_right {
  width: 35%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.home_banner_images {
  width: 100%;
}
.home_baner_mainSlider {
  width: 65%;
}
.home_banner_advertisement1 {
  width: 100%;
}
.home_banner_advertisement2 {
  width: 100%;
}
.home_banner_advertisement3 {
  width: 100%;
}

/* ---------------------media quiries -----------*/
@media (max-width: 768px) {
 
}
@media (max-width: 499px) {
 .home_banner{
  flex-direction: column;
 }
 .home_banner_right,.home_baner_mainSlider{
  width:100%;
  margin-top:10px;
 }
}
