.navbar_wrapper {
  width: 100%;
  padding: 15px 30px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  color: #999;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.navbar_logo {
  /* border: 1px solid red; */
  /* height: 50px; */
  width: 12%;
}

.navbar_logo .navbar_logo_img {
  width: 100%;
  height: 100%;
}

.navbar_search_bar {
  /* max-width: 40%; */
  min-width: 45%;
  padding: 0;
  border: 1px solid rgba(153, 153, 153, 0.502);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.navbar_search_input {
  width: 100%;
  color: #999;
  border: 0;
  outline: none;
  font-family: inherit;
}
.navbar_icon {
  font-size: 25px;
}
.navbar_cart,
.navbar_credit,
.navbar_login,
.navbar_location_wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.navbar_cart:hover,
.navbar_credit:hover,
.navbar_login:hover,
.navbar_location_wrapper :hover {
  color: #000;
}
